@model MoviesAppDatabaseFirst.Models.Hall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumOfSits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfSits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
