@model MoviesAppDatabaseFirst.Models.Projection

@{
    ViewBag.Title = "Details";
}

<h2 style="color:darkslategrey">Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hall.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hall.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movy.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>

